.statistic-info-wrapper {
    text-align: center;
}

.statistic-info-of-day {
    font-weight: 700;
}

.statistics-wrapper > * {
    margin-top: 40px;
}

.card-title-statistics {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.card-text-statistics {
    font-weight: 500;
}

.statistics-no-auth-user-info {
    margin-top: 40px;
}

.statistics-card-pagination {
    margin-top: 40px;
}

.card-statistics-date {
    padding: 0px 14px;
}

.card-statistics-date {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    min-width: 100px;
}

.card-block {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    max-width: 20rem;
    width: 100%;
}

.statistics-window {
    padding: 2rem;
}

/* table */

.statistic-table {
    margin: 0 auto;
    width: 180px;
}

.statistic-td {
    text-align: left;
    padding-top: 12px;
}

.statistic-td-amount {
    width: 36px;
}

.game-statistic-info {
    display: inline-block;
    min-width: 36px;
    height: 26px;
    border-radius: 0.375rem;
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 0 0.2rem;
}

.game-statistic-first {
    background-color: var(--bs-pink);
}

.game-statistic-second {
    background-color: var(--bs-info);
}

.game-statistic-third {
    background-color: var(--bs-green);
}

/* Statistics for all days */

.statistic-chart {
    margin-bottom: 40px;
    border-width: 1px;
    border-color: var(--bs-border-color-translucent);
    border-radius: 0.375rem;
    gap: 2rem;
}

.statistic-chart__heading {
    font-weight: 600;
}

.statistics-all-days-wrapper {
    gap: 10px;
}

