.statistic-info-wrapper {
    text-align: center;
}

.statistic-info-of-day {
    font-weight: 700;
}

.statistics-section {
    padding: 2rem;
}

.statistics-section > * {
    margin-top: 40px;
}

.card-title-statistics {
    margin-bottom: 60px;
    font-weight: 600;
}

.card-text-statistics {
    font-weight: 500;
}

.statistics-no-auth-user-info {
    margin-top: 40px;
}

.statistics-card-pagination {
    margin-top: 40px;
}

.card-statistics-date {
    padding: 0px 14px;
}

.card-statistics-date {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    min-width: 100px;
}

.card-block {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    max-width: 20rem;
}

/* Statistics for all days */

.statistic-chart {
    margin-bottom: 40px;
    border-width: 1px;
    border-color: var(--bs-border-color-translucent);
    border-radius: 0.375rem;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.statistic-chart__heading {
    font-weight: 600;
}

.statistics-all-days-wrapper {
    gap: 10px;
}