.auth-menu .btn-group {
  display: flex;
}

.auth-menu a {
  flex: 1;
}

.auth-menu a.active-page,
.auth-menu a.active-page:hover {
  color: white;
  background-color: var(--bs-gray-600);
  border-color: var(--bs-gray-600);
}

@media (max-width: 991.98px) {
  .auth-menu {
    margin-bottom: 1rem;
  }
}
