.load-spinner {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-spinner__content {
  padding: 2rem 3rem;
  color: #fff;
  background-color: var(--bs-gray-800);
  text-align: center;
  border-radius: 6px;
  box-shadow: -1px 16px 30px 0 rgba(0, 0, 0, 0.2);
  animation: show 0.5s ease-out forwards;
}

.load-spinner__text {
  margin-top: 0.5rem;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 100;
    transform: translateY(0px);
  }
}
