.current-word {
  height: 400px;
}

.button-text-round {
  display: block;
  margin: 0 auto;
}

.current-word-info--hidden {
  display: none;
}

.current-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-menu {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0px;
}

.button-wrapper-audiocall {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-level-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-heading {
  align-self: flex-start;
}

.buttons-level-block--hidden {
  display: none;
}