.audio-call-page {
  background-color: var(--bs-cyan);
}

.current-word {
  height: 200px;
}

.button-text-round {
  display: block;
  margin: 0 auto;
}

.btn--hidden {
  display: none;
}

.level-menu--hidden {
  display: none;
}
