.sprint-game {
  height: calc(100vh - 3.5rem);
}

.sprint {
  margin-top: 2rem;
}

.game-on {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-lvl {
  align-self: start;
}

.lvl-instructions {
  margin-top: 1rem;
}

.points,
.choose-words,
.timer {
  text-align: center;
}

.choose-words {
  padding: 2rem;
  border: 1px solid var(--bs-gray-200);
}

.choose-buttons:focus {
  outline: none;
}

.timer {
  margin-top: 2rem;
  font-size: 4rem;
}

.results__close-button {
  margin-top: 1rem;
}
