.study-book-chapter-heading {
  padding: 2rem 2rem;
  border-radius: 6px;
}

.study-book-words-list--learned .study-book-chapter-heading {
  background: var(--bs-green) !important;
}

.study-book-words-list--hard .study-book-chapter-heading {
  background: var(--bs-red) !important;
}

.study-book-words-list ol {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}
