.btn-audio {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
  border: none;
  background: none;
  position: relative;
}

.btn-audio:disabled {
  pointer-events: none;
  cursor: default;
}

.btn-audio:disabled .btn-audio__speaker-icon {
  opacity: 0.5;
}

.btn-audio__speaker-icon {
  width: 30px;
}

.btn-audio__audio-title {
  color: #000;
  background-color: #ffeabf;
  padding: 2px 10px;
  border-radius: 3px;
  display: none;
}

.btn-audio--playing .btn-audio__audio-title {
  display: block;
}
