.header .dropdown-menu {
  margin: 0;
  padding: 0.5rem;
}

.header .dropdown.active {
  border-radius: 6px;
  background-color: var(--bs-gray-200);
}

.header .dropdown-menu {
  background-color: inherit;
  border: 0;
  background-color: var(--bs-gray-200);
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
  transform: translateY(12px);
}

.header .dropdown-item {
  border-radius: 6px;
}

.header .active-page {
  color: white;
  background-color: var(--bs-gray-600);
  border-radius: 6px;
}

@media (max-width: 991.98px) {
  .header .navbar-nav {
    margin-top: 1rem;
  }

  .header .dropdown-menu {
    border: none;
    background: none;
    padding-left: 1rem;
    box-shadow: none;
    transform: none;
  }

  .header .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
