.footer {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: var(--bs-cyan);
}

.footer-rsschool {
  background-image: url('../../assets/rsschool-logo.svg');
  display: block;
  height: 24px;
  width: 62px;
}

.footer__team {
  list-style: none;
  display: flex;
  gap: 20px;
}
