.footer {
  padding: 1rem 0;
  background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  color: var(--bs-body-color);
}

.footer-rsschool {
  background-image: url('assets/rsschool-logo.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.5rem;
  width: 4rem;
}

.link-dark {
  text-decoration: none;
  margin-left: 1rem;
}
