.about-app {
  text-align: center;
  padding: 2rem;
  min-height: calc(100vh - (118px));
}

.about-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.about-wrapper--block {
  max-width: 400px;
  text-align: start;
}

.about-wrapper--block > * {
  padding-top: 50px;
}

.about-app--content {
  color: rgb(87, 87, 87);
  font-style: italic;
}